# Gradle
.gradle/
build/

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
.navigation/
captures/
externalNativeBuild/
.externalNativeBuild/
.cxx/
cmake-build-debug/

# Local configuration
local.properties

# Secrets
secrets.properties

# OS specific
.DS_Store
Thumbs.db

# Log files
*.log

# Android Profiler
*.hprof
/.artifacts/*
